.body{
    margin:0;
    padding: 0;
    background-color: blue;
    
}
*{
    margin: 0;
}
.main-nav{
    display: flex;
    list-style: none;
    text-indent: 10px;
    
}

a{
    text-decoration: none;
    color: black;

}
a:hover{
    color: blue;
}

.cover{
    max-width: 200px;
    width:100%;
}

.container{
    background-color: blue;
    width: 100vw;
    height: 100vh;
    display: grid;
  
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 50px 1fr 1fr 100px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "c1 c1 c1 c1 c2 c2 c2 c2"
    "c1 c1 c1 c1 c2 c2 c2 c2"
    "ft ft ft ft ft ft ft ft"
}

.container > div{
    
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    
}

.push{
    margin-left: auto;
}

.nav{
    grid-area: hd;
    transition: all linear 1s;
    
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  

.content{
    grid-area: c1;
    /* background-image: url(./img/fushimi-inari-taisha-shrine-in-kyoto-japan_t20_AoXkWr.jpg);
    background-size: 50em; */
    background: rgb(2,0,36);
    
    
    
}


div{
   
}

div:hover{
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    
}


.content{
    display: flex;
}



.grid-content{
    grid-area: c2;
}

.grid-content{
    display: grid;
    background-color: white;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "tl tr"
    "bl br"
}

.footer{
    grid-area: ft;
}

.box1{
    grid-area: tl;
    
}

.box2{
    grid-area: tr;
}

.box3{
    grid-area: bl;
}

.box4{
    grid-area: br;
}

.spot{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.spot> img{
    max-width: 200px;
    width:100%;
}